<!DOCTYPE html>
<html lang="en">

<body>

    <div id="footer">
        <h4>Masoko Safaricom</h4>
        <footer>&copy; Copyright 2018 @Masoko</footer>
        <div id="men">

        </div>
        <div id="social_media" align='center'>
            <b>Follow Us:</b>
            <br>
            <a href="">
                <img src="../img/newtwi.png" width="50px" height="50px">
            </a>
            <a href="">
                <img src="../img/pint.png" width="50px" height="50px">
            </a>
            <a href="">
                <img src="../img/fb.png" width="50px" height="50px">
            </a>
            <a href="">
                <img src="../img/ig.png" width="50px" height="50px">
            </a>
            </p>
        </div>
        <div id="reachus" align='center'>
            <p>Need Help?
                <br> FAQ's
                <br> Shipping and Delivery Policy
            </p>
        </div>
    </div>

</body>

</html>