<!DOCTYPE html>
<html lang="en">

<body>


    <div id="sidebar">
        <h2>Categories</h2>
        <ul id="categories">
            <p>
                <a href="#home" style="float:left;font-size:20px;margin-left:-50px">
                    <u>Home Appliances</u>
                </a>
            </p>

            <p>
                <a href="#news" style="float:left;font-size:20px;margin-left:-50px">
                    <u>Electronics</u>
                </a>
            </p>

            <p>
                <a href="#contact" style="float:left;font-size:20px;margin-left:-50px">
                    <u>Phones and Tablets</u>
                </a>
            </p>
            <p>
                <a href="#contact" style="float:left;font-size:20px;margin-left:-50px">
                    <u>Fashion Wear</u>
                </a>
            </p>
        </ul>

        <h2>Brands</h2>
        <ul id="brands">
            <p>
                <a href="#home" style="float:left;font-size:20px;margin-left:-50px">
                    <u>Samsung</u>
                </a>
            </p>
            <p>
                <a href="#news" style="float:left;font-size:20px;margin-left:-107px;margin-top:33px">
                    <u>Tecno</u>
                </a>
            </p>
            <p>
                <a href="#contact" style="float:left;font-size:20px;margin-left:-110px;margin-top:66px">
                    <u>Apple</u>
                </a>
            </p>

        </ul>
    </div>

</body>

</html>